/* @containers
********************************************************************************************
********************************************************************************************/

.container,
.container_alt {
width: 100%;
max-width: 1100px;
margin: 0 auto;
padding:0 0;
overflow:hidden;
position:relative;
}

#header .container{ overflow:visible;}

#footer .container{ background:none !important; }


/* @columns
********************************************************************************************
********************************************************************************************/

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.warpbox {
margin-left:0;
float: left;
min-height: 1px;
}

.foocol{
margin:0 0 0 0;
width:25.5%;
padding: 20px 0 20px 35px;
position:relative;
height:100%;
min-height:1px;
float:left;
}

.foocol.first{width:23%;padding: 20px 0 20px 0;}

/*sidebar*/
.fourcol{ width:28%; padding:0 0;margin:0 0 40px 0 !important; min-height:1px; float:right;}

/*content*/
.eightcol{width:72%;padding:0 0; margin:0 0 40px 0 !important; min-height:1px; float:left;}

/* sidebar position */
.postbarLeft .eightcol{ float: right !important}

.postbarLeft .fourcol{ float: left !important}

.postbarNone .eightcol{ width:100%;}

.postbarNone .entryhead iframe{ width:100%;}


.woocommerce-page #foliocontent{ float: right !important; width:75%;}
.woocommerce-page #foliosidebar{ float: left !important; width:25%;}
.woocommerce-page #foliosidebar .sidewrap{padding:0 40px 0 0;}


.sixcol{width:50%}

.first,
.ml-first {margin-left: 0px !important;}

.widgetable{
	padding:0 0;
	overflow:hidden;
	margin:0 0 0 0;
}

#left-sidebar .widgetable{ border:none; padding:0;}

.postbarLeft .widgetable{margin:0 -1px 0 0;}

.widgetable_sticky{ margin-top:-1px;}

.widgetable_sticky.scroll-to-fixed-fixed{ min-width:38px;}




/* @responsive mode
********************************************************************************************
********************************************************************************************/



/* iPad Landscape */
@media screen and (max-width: 1170px) {

.container, .container_alt{ padding:0 20px;}

.about-widget p.authorinfo{ padding:0 25px; bottom:30px;}

.meta_full span.divider{ margin:0 3px;}

.isotope {width: 100%;}

.nav > li > a{ margin:0 6px;}

.flexinside{ left:20px; margin:0 0 0 0; bottom:120px; max-width:60%; width:60%;}

.flexslider:hover .flex-prev { left:-2px;  }
.flexslider:hover .flex-next { right:-2px;  }

.slide-nav li > a {padding: 18px 10px 15px 10px;}

.widgetable_sticky.scroll-to-fixed-fixed{ position:relative !important; top:auto !important; left:auto !important; right:auto !important;}

blockquote{ font-size:16px !important; line-height:1.4 !important;}

p.quuote_author {margin: 5px 0 10px;}

.masonry_item.quote .item_full{ padding:5px 10px; }

.isotope .masonry_item img{ max-width:120% !important; width:120% !important; margin-left:-10% !important;}

.Big .item_inn{ width:75%;}

.Vertical .item_inn{ position:absolute; height:auto;}

.isotope .masonry_item {height:215px;}

.isotope .Big,
.isotope .Vertical{ height:430px;}

.tmnf_hero{ margin-top:0}


}

@media screen and (max-width: 935px){
	
.isotope .masonry_item {height:200px;}

.isotope .Big,
.isotope .Vertical{ height:400px;}

#curtain .searchform {left: 0;margin: -40px 0 0 20px;}

#curtain a.curtainclose{ left:auto; margin: -15px 20px 0 0;}

.about-widget img {
    margin: 0 0 0 -25%;
    max-width: 150%;
    width: 150%;
}

.about-titles{ padding:0 10px ;}

.about-widget h2{ font-size:16px !important;}

.about-widget p.authorinfo {
    padding: 0 10px;
	font-size: 75%;
}

.single-post h1.entry-title, h1.entry-title.fullpage {
    padding: 40px 30px 20px;
}

.single-post .item .item_inn {
    padding: 20px 30px 50px;
}

.slide-nav { width:100%; left:0;}

}

/*iPad Portrait */

@media screen and (max-width: 770px){

div.tooltip p:after,
.nav>li>ul:after,
.sf-arrows .sf-with-ul::after,
.sf-arrows .sf-with-ul::after,
.slide-nav,
.slide-nav li a:after,
.slide-nav li.flex-active a:before,
.tmnf_icon,
.tmnf_hero:after,
.isotope .masonry_item:after,
.mainflex .entryhead:after,
.c-hamburger,
.masonry_item.Big p.teaser{ display:none !important;}

body {
width: 100%;
min-width: 0;
margin-left: 0px;
margin-right: 0px;
padding-left: 0;
padding-right: 0;
margin-top:0;
font-size: 16px;
-webkit-text-size-adjust: none;
}

.onecol, .twocol, .threecol,.threecol_spec, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol
{
width: auto;
float: none !important;
padding-left: 0px;
padding-right: 0px;
margin-left: 0;
margin-right: 0;
}

#titles{ margin:10px 0 !important; float:left; max-width:50%; text-align:left;}

#header h1{ font-size:20px; line-height:1;}

#header img{ float:left;}


#header a.searchOpen{ right:50px; top:8px;}

/* mobile menu */
a#navtrigger,
a#navtrigger-sec{ display:block !important;}

#navigation.scroll-to-fixed-fixed{ position:relative !important; top:auto !important; left:auto !important;}
.navhead>div{ display:none !important;}

#navigation{ display:none; position:relative; top:auto; margin:0 0 0 0 !important; padding:0 0 0 0 !important; background-color:#222 !important; }
#navigation a{ color:#ddd !important;}

#navigation a:hover,
#navigation .current-menu-item>a{color:#f4a107 !important;}

ul.nav,
#main-nav{ width:100% !important; margin:0 0 0 0 !important; padding:0 0 0 0 !important;}

ul.nav li,
.nav li ul,
#main-nav li.mega ul.sub-menu { width:100% !important; background-color: transparent !important; border:none !important; float:none; display:block;margin:0 0 0 0 !important; position:relative !important; left:auto !important; display:block !important; visibility:visible !important; padding-top:0;}

#navigation .nav li ul li > a{ border-bottom:1px dotted #444 !important; text-align:left;}

ul.nav li a{ width:100% !important; text-align:left; padding:15px 20px !important; margin:0 0 0 20px; font-size:16px !important;}

.nav li ul li > a {font-size: 13px !important;}

.nav li a.sf-with-ul {padding-right: 0 !important;}

#main-nav > li > a {margin: 0 0 0 0 !important;}

.nav > li > ul > li,
.nav li ul ul li,
#main-nav li ul li > a,
.nav li ul li > a {max-width: 100% !important;margin:0 0 0 0; padding:0 0 0 0;}

.nav li ul{ padding:0 20px;}

#main-nav li.mega ul.sub-menu { min-height:0px;}

.nav li ul ul{ margin:0 0 0 0; padding:0 0 0 0;}

div.sub,
.nav > li > ul:after{ display:none !important;}

.sf-arrows .sf-with-ul::after { right: 15px;}

/* end mobile menu */



/*//// 
stacked clomuns & posts */

/* columns */
#footer .foocol,
.blocker,
.woocommerce-page #foliocontent,
.woocommerce-page #foliosidebar,
.eightcol,
.fourcol,
.footer-logo,
.bottom-menu,
{
    padding: 0 0 !important;
    width: 100%;
	margin:0 auto !important;
	float:none !important;
	display:block;
	width:100%;
	border-left: none;
	border-right:none;
}


#sidebar,
.foocol,
.foocol.first{ max-width:300px; width:100%; float:none !important; margin:0 auto !important; padding:0 0 !important;}

/* posts */
.blogger div.post,
.blogger div.page {margin: 0 2% 40px;}

.postbarLeft .eightcol {float: none !important;}

.page #content .item_inn{  margin:0 0 0 0; }

/*//// 
end stacked colmuns & posts */


/* woocommerce */
#woo-inn{ margin-left:0;}

.woocommerce-page div.product div.summary {
    margin: 0 0 40px 0;
    width: 100%;
}
.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
    width: 100% !important;
	margin:0 0 30px 0 !important;
}

.woocommerce h1.page-title,
p.woocommerce-result-count{ text-align:center; width:100%;}

.woocommerce #foliocontent .woocommerce-tabs,
.woocommerce #foliocontent .related.products {width: 100%;}

.woocommerce-page #foliosidebar {clear: both;}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {float: none;}

.tmnf-sc-quote.left,
.tmnf-sc-quote.right{ width:100%; float:none; margin-left:0; margin-right:0}


.contact-form .forms textarea,
.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

.contact-form .forms label{ margin-bottom:10px}

.contact-form .forms .buttons .submit,
.contact-form .forms input#sendCopy{ margin-left:0;}



/* comments */
.commentlist li.comment {padding: 20px 5px 10px 5px;}
ul.children li.comment:last-child {padding: 20px 0 10px 20px !important;}
.commentlist .avatar {right: 0;left:auto;top: 0;width: 40px;}
li.bypostauthor{ padding-left:10px !important;}


/* other */

.flexinside,
.mainflexplain .flexinside{ width:60% !important; left:20% !important; bottom:0; text-align:center;}


.flexinside h2,
h2.archiv,
h1.entry-title{
	font-size: 36px !important;
  	font-size: 3.4vw !important;
	line-height:1.0 !important;
}

.Big .item_inn{ width:100%;}

.isotope .masonry_item {height:auto; width:50%; max-width:655px;}

.isotope .masonry_item img{ width:100%;}

.isotope .masonry_item h2{ font-size:15px !important;}

.isotope .Big,
.isotope .Vertical{ height:auto;}

.single-post h1.entry-title, h1.entry-title.fullpage {
    padding: 20px 30px 0 30px;
}

.entryhead iframe { max-height: 350px;}

.postbarNone .entryhead {margin: 0 0;}

.postbarNone .item_inn {padding: 20px 40px 40px;}

.postbarNone .entryhead img{ opacity:1;margin:-10px 0;}

.entryfull {margin: 0 0;}

.post-previous, .post-next { width: 100%; margin-top:-1px}

.footer-logo{ text-align:center; width:100%;}

.footer-logo img{ float:none; display:block; margin:20px auto;}

.bottom-menu{ max-width:90%; margin:30px auto !important; float:none !important}

.single-post div.item{ margin:0 0 0 0 !important;}

.landing-item h3 span{ width:65%;}

	
}


@media only screen and (max-width: 589px) {
	
/* posts */
.blogger div.post, .blogger div.page{ width:100% !important; float:none; height:auto; margin:0 0 1px 0}

.blogger div.post .imgwrap a img, .blogger div.page .imgwrap a img{ width:100%;}

h2.archiv,
h1.entry-title{
  	font-size: 5.8vw !important;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
#post-nav,
.postauthor{ width:100%;}

#respond textarea{ width:99.5%;}

.entry blockquote {
    margin: 5px 10px;
    padding: 0 20px !important;
}


.scrollTo_top{ right:0; width:100%;}

.scrollTo_top a{ display:block;}

.scrollTo_top a i {
    float: none;
    padding: 5px 18px 12px;
}


.tmnf_hero img {margin-top: 0;}

.single-post h1.entry-title {padding: 20px 20px 0 20px;}

h1.entry-title.fullpage {padding: 20px 0 0 0;}

.page .item_inn,
.single-post .item .item_inn {
    padding: 20px 20px 20px;
}

.meta-single{ padding:10px 0 0 0;}

.meta-single .meta { float: none !important; margin-bottom:5px;}

.postauthor {padding: 10px 20px;}

#curtain .searchform {max-width: 80%;}

#curtain a.curtainclose{ right:0; margin-right:10px;}

.landing-item{ margin:17px auto !important; float:none; width:100%; max-width:344px;}

.blogger { padding: 0 0 0 0;}

.blogger div.post, .blogger div.page{margin:17px auto !important; float:none; width:100%; max-width:344px;}

.blogger div.post .entryhead, .blogger div.page .entryhead{ max-width:100%; width:100%; float:none; margin:0 0 0 0}

}

@media only screen and (max-width: 485px) {
	
.isotope .masonry_item {width:100%;}

.mainflexplain .flexinside{padding:0 10px; left: 15%;  width: 70%;}

.flexinside h2{ font-size:18px !important; }

.flexinside p.meta{ display:none;}

.entryhead iframe { max-height: 200px;}

ul.related,
ul.related li img{ width:100%;}

ul.related li{ width:100% !important; margin:0 0 30px 0; height:auto;}
	
}